# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
checker
checker-linux
checker-mac

# Build folder
releases/
build/
dist/

# Logs and runtime files (opcional, se quiser ignorar)
logs.txt

# Go specific
vendor/
*.test
*.out

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db